@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #EAEAEA; /* Untuk title atau judul */
  --secondaryTextColor: #EEEEEE; /* Untuk text biasa seperti paragraph contohnya */

  --borderColor: #EAEAEA;
  --lineColor: #EEEEEE;/* untuk line di pre-title */

  --primaryBackgroundColor: #393E46;
  --secondaryBackgroundColor: #222831;
  --captionColor: rgba(0, 0, 0, 0.6);
  --thirdBackgroundColor: #EAEAEA;

  --primaryIconColor: #08D9D6;
  --primaryIconColorHover: #003f88;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;

  --big-font:2.5rem;
  --normal-font:2rem;

  --sectionPadding: 20px;
  --captionColor: rgba(0, 0, 0, 0.6);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16 px */
  line-height: 1.9rem; /*30.4 px */
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

/* End Preparation */

.main-container {
  width: 1200px;
  margin: 0 auto;

}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Buttons */
.btn {
  padding: 1rem 1.5rem;
  background: #222831;
  border: 1.5px solid var(--primaryBackgroundColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--primaryTextColor);
}

.btn:hover {
  box-shadow: var(--primaryIconColor) 0px 3px 5px;
}

/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--primaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layouts */
.grid-3 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* --- Logo and Navigation Menu --- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

.logo span {
  color: var(--primaryIconColor) !important;
}

/* Navigation Menu */
nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}
nav ul li a:hover {
  color: var(--primaryIconColor);
}


/* Burger - Save for later on video */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Hero Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* We're not going to use automatic template columns, because we need to know when the columns is go below. So we can exchange the order of the element */
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor) !important;
}

.hero-right {
  position:relative;
}


.hero-right img {
  width: 1000%;
  max-width: 550px;
  height: auto;
}

.change-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.change-text span{
  color: var(--primaryIconColor) !important;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  margin-bottom: 0.5rem;
}

.word {
  position: absolute;
  opacity: 0;
  display: inline-block;
  transition: opacity 0.4s ease;
  
}

.word:nth-child(1) {
  opacity: 1;
}

.letter {
  display: inline-block;
  transform: translateY(0);
  transition: all 0.4s ease;
}

.letter.out {
  transform: translateY(-100%);
  opacity: 0;
}

.letter.behind {
  transform: translateY(100%);
  opacity: 0;
}

.letter.in {
  transform: translateY(0);
  opacity: 1;
}



.home-image{
  position: relative;
}

.liquid-shape {
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
  bottom: 5%;
  left: 23%;
}

/* Services Section */
#services {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}
/* Portfolios Section */
#portfolios {
  padding: var(--sectionPadding);
}

/* Grid Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.business-portfolios, .project-portfolios {
  margin-top: 3rem;
}

.business-portfolios h2, .project-portfolios h2 {
  margin-bottom: 1.5rem;
}

/* Portfolios Section */
#portfolios {
  padding: var(--sectionPadding);
}

/* Portfolio Filters */
.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filter-btn {
  background-color: var(--bg-dark);
  color: var(--primaryTextColor);
  border: 1px solid var(--borderColor);
  padding: 0.5rem 1rem;
  border-radius: var(--itemBorderRadius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.filter-btn.active {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  border-color: var(--primaryIconColor);
}

.filter-btn:hover:not(.active) {
  background-color: var(--primaryIconColor);
  color: var(--textColorInverse);
  border-color: var(--primaryIconColor);
}

/* Portfolio Card */
.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
  background: var(--bg-dark);
  display: none;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.portfolio.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}

/* Portfolio Cover Image */
.portfolio-cover {
  height: 200px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Portfolio Information */
.portfolio-info {
  padding: 1.5rem 1rem;
}

/* Portfolio Title */
.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1rem;
}

/* Portfolio Link Icon */
.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

/* Portfolio Tags */
.portfolio-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.portfolio-tags div {
  font-size: 0.85rem;
  border: 1px solid var(--borderColor);
  padding: 0.3rem 0.8rem;
  color: var(--secondaryTextColor);
}

/* Responsive Design */
@media screen and (max-width: 968px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .portfolio-filters {
    flex-wrap: wrap;
  }
}

/* Skills and Education */
#skills {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}

.skills-grid {
  display: grid;
  /* grid-template-columns: 40% 60%; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 1rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--borderColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Right side of Skills */
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* CERTIFICATE GALLERY */


#gallery {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-images {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.gallery-images img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-images img.active {
  opacity: 1;
  z-index: 1;
}
.caption {
  background-color: var(--captionColor);
  color: white;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.action-btn {
  background-color: var(--primaryIconColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background 0.3s;
}

.action-btn:hover {
  background-color: var(--primaryIconColorHover);
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--primaryIconColorHover);
}

/* Contact Section - Right Side */
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  /* padding: 0.8rem 1rem; */
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer Section */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: #000;
}